---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Hero from "@components/content/Home/Hero.astro";
import { HeroSubtitle, HeroTitle } from "@components/content/Home/HeroItems";

import "@pagefind/component-ui/css";

import BaseMainContent from "@/layouts/BaseMainContent.astro";
import Sidebar from "@components/Sidebar.astro";
import config from "@shConfig";

const isProd = import.meta.env.PROD;
---

<BaseLayout
  title={config.pages.other.search.title}
  description={config.pages.other.search.subTitle}
  coverImage={config.pages.other.search.heroImage}
>
  {
    isProd ? (
      <>
        <link href="/pagefind/pagefind-component-ui.css" rel="stylesheet" />
        <script src="/pagefind/pagefind-component-ui.js" type="module" />
      </>
    ) : (
      <script>import('@pagefind/component-ui');</script>
      <pagefind-config bundle-path="/pagefind/" /> 
    )
  }

  <!-- Hero Section -->
  <Hero>
    <!-- Left: Main heading -->
    <div class="lg:col-span-2" slot="left">
      <HeroTitle>{config.pages.other.search.title}</HeroTitle>
      <HeroSubtitle>{config.pages.other.search.subTitle}</HeroSubtitle>
    </div>
  </Hero>

  <BaseMainContent>
    <div class="flex-1" data-pf-theme="dark">
      <div class="mb-4 flex justify-between">
        <pagefind-input placeholder="今天要搜些什麼？" autofocus></pagefind-input>
      </div>

      <pagefind-results show-images></pagefind-results>

      <div class="mt-4 flex items-center justify-between">
        <pagefind-summary></pagefind-summary>
        <pagefind-keyboard-hints></pagefind-keyboard-hints>
      </div>
    </div>

    <!-- Sidebar -->
    <aside class="hidden shrink-0 lg:block lg:w-[300px] xl:w-[380px]">
      <Sidebar />
    </aside>
  </BaseMainContent>
</BaseLayout>
