---
import "@/styles/markdown.css";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import FormattedDate from "@components/content/FormattedDate.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import BaseMainContent from "@/layouts/BaseMainContent.astro";
import Hero from "@components/content/Home/Hero.astro";
import { HeroTitle, HeroSubtitle } from "@components/content/Home/HeroItems";

// @ts-ignore
import Sidebar from "@components/Sidebar.astro";

import { CalendarDays, Tag, User } from "lucide-react";
import config from "@shConfig";
import { Separator } from "@components/ui/separator";
import { DEFAULT_POST_IMAGE, SEPARATOR } from "@consts";

import "@/styles/aside.css";

import Toc from "@components/Toc.astro";
import "katex/dist/katex.min.css";
import Comment from "@components/comment/Comment.astro";
import Tags from "@components/Tags.astro";

import i18n from "@i18n/translation";
import I18nKey from "@i18n/i18nKey";

interface Props {
  title: string;
  description: string;
  pubDate: Date;
  updatedDate?: Date;
  heroImage?: any;
  headings: Array<{
    depth: number;
    slug: string;
    text: string;
  }>;
  tags?: CollectionEntry<"blog">["data"]["tags"];
}

const { title, description, pubDate, updatedDate, heroImage, headings, tags } =
  Astro.props;
---

<BaseLayout
  title={`${title} ${SEPARATOR} ${config.title}`}
  description={description}
  coverImage={heroImage}
>
  <!-- 內容 -->
  <Hero backgroundImage={heroImage || DEFAULT_POST_IMAGE}>
    <!-- Left: Main heading -->
    <div class="lg:col-span-2" slot="left">
      <HeroTitle>{title}</HeroTitle>
      <HeroSubtitle slot="right">
        {description}
      </HeroSubtitle>
    </div>
  </Hero>

  <BaseMainContent>
    <!-- Main column: Blog post content -->
    <article data-pagefind-body class="w-full max-w-full min-w-0 flex-1">
      <div>
        <!-- 文章資訊 -->
        <div class="mb-4 flex gap-2" data-pagefind-ignore>
          <!-- 文章日期 -->
          <time
            class="flex items-center gap-1 text-sm text-gray-500"
            data-pagefind-meta={`date:{${pubDate.toISOString().split("T")[0]}}`}
          >
            <CalendarDays size={20} />{i18n(I18nKey.post_released)}{" "}
            <FormattedDate date={pubDate} />
            {
              updatedDate && (
                <>
                  <Separator orientation="vertical" />
                  {i18n(I18nKey.post_last_edited)}{" "}
                  <FormattedDate date={updatedDate} />
                </>
              )
            }
          </time>
          <Separator orientation="vertical" client:only="react" />
          <!-- 文章作者 -->
          <div class="flex items-center gap-1 text-sm text-gray-500">
            <User size={20} />{i18n(I18nKey.post_author)}{" "}
            <span data-pagefind-filter="author">{config.author.name}</span>
          </div>
        </div>

        <!-- 文章標籤 -->
        {
          tags && tags.length > 0 && (
            <div class="mb-4 flex gap-2" data-pagefind-ignore>
              <div
                class="flex items-center gap-1 text-sm text-gray-500"
                data-pagefind-meta={`tags:${tags.join(",")}`}
              >
                <Tag size={20} />
                {i18n(I18nKey.post_tags)} <Tags tags={tags} />
              </div>
            </div>
          )
        }
      </div>

      <!-- 文章圖片 -->
      <div class="overflow-hidden rounded-xl">
        {
          (heroImage && (
            <Image
              width={1020}
              height={574}
              src={heroImage}
              alt={`${i18n(I18nKey.post_alt_cover_image)}: ${title}`}
              data-pagefind-meta="image[src], image_alt[alt]"
            />
          )) || (
            <Image
              width={1020}
              height={340}
              src={DEFAULT_POST_IMAGE}
              alt={`${i18n(I18nKey.post_alt_default_cover_image)}: ${title}`}
              data-pagefind-meta="image[src], image_alt[alt]"
            />
          )
        }
      </div>
      <!-- 文章內容 -->
      <div class="mt-10" id="post-content">
        <slot />
      </div>

      <Comment />
    </article>

    <!-- Sidebar -->
    <aside class="hidden shrink-0 lg:block lg:w-[300px] xl:w-[380px]">
      <Sidebar />
      {
        headings?.length > 0 && config.behavior.tableOfContents.enable && (
          <Toc {headings} />
        )
      }
    </aside>
  </BaseMainContent>
</BaseLayout>

<script>
  document.addEventListener("click", function (e: MouseEvent) {
    const target = e.target as Element | null;
    if (target && target.classList.contains("copy-btn")) {
      const preEle = target.closest("pre");
      const codeEle = preEle?.querySelector("code");
      const code = Array.from(
        codeEle?.querySelectorAll(".code:not(summary *)") ?? [],
      )
        .map((el) => el.textContent)
        .map((t) => (t === "\n" ? "" : t))
        .join("\n");
      navigator.clipboard.writeText(code);

      const timeoutId = target.getAttribute("data-timeout-id");
      if (timeoutId) {
        clearTimeout(parseInt(timeoutId));
      }

      target.classList.add("success");

      // 设置新的timeout并保存ID到按钮的自定义属性中
      const newTimeoutId = setTimeout(() => {
        target.classList.remove("success");
      }, 1000);

      target.setAttribute("data-timeout-id", newTimeoutId.toString());
    }
  });
</script>

<script>
  import mediumZoom from "medium-zoom";

  // 初始化 medium-zoom
  mediumZoom("[data-zoomable]", {
    margin: 24,
    background: "rgba(0, 0, 0, 0.8)",
    scrollOffset: 40,
  });

  // console.log("[Medium Zoom] ImagePacked component loaded");
</script>
